/* Estilos de la primera parte del codigo */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Relaciones de aspecto y configuraciones generales que afectan a todo el archivo */
* {
  margin: 0;
  padding: 0;
  color: black;
}


#Titulo {
  position: sticky;
  font: lighter 40px Lobster;
  text-align: center;
  padding: 5px;
  background-color: rgba(239, 131, 84, 1);
  color: rgba(95,21,2,1);
}

/* Barra de Menu */

.menu {
  list-style: none;
  font-family: monospace;
  position: relative;
  padding: 0;
  background: #092327;
  width: 100%;
  max-width: 1500px;
  margin:auto;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display:block;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a:hover{
  background: #ef8354;
}

/* Peronalizaciones del cuerpo de la pagina */

 /* .campo{
   text-align: center;
 }
*/

#Cuadro {
  max-width: 1500px;
  position: absolute;
  margin: 10px;
  align-items: center;
  width: center;
  padding-top: 5px;

}

/*
.Divis {
  font: bold 17px monospace;
  text-align: center;
  margin: auto;
  max-width: 1500px;
  padding-bottom: 0px;
  padding: 2px;
  display:block;
}
*/

/* A partir de aca vamor a ver que tal el menu respoonsive (Capaz convenga hacerlo en otro css) */

/* Estilo  de pie de pagina */

#Base {
  font-family: monospace;
  font-size: 20px;
  font-weight: lighter;

  background-color: rgba(239, 131, 84, 1);
  color: rgba(95,21,2,1);
}

.Drop {
  width: 100%;
  position: absolute;
  bottom: 0;
  bottom: -1px;
  height: 40px;
  text-align: center;
}
