@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

#Title {
  font: lighter 45px 'Lobster';
  text-decoration: underline;
}

body {
  background-image: url(dibujo.svg);
  background-size: 100%;
  background-position: absolute;
  background-attachment: fixed;
  font-family: monospace;
  display: flex;
}

form {
  width: 450px;
  margin: auto ;
  background: rgba(0,0,0,0.3);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 10%;
  border-radius: 10px;
  border-style: inset;
}

h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;

}

input, textarea {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#BT {
  font: lighter 25px 'Dancing Script';
  background: #31384A;
  color: #fff;
  padding: 20px;
}

#BT:hover {
  cursor: pointer;
}

@media (max-width:480px) {
  form {
    width: 100%;

  }
}

input a:active {
  color: red;
}
